/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
    height: 100%; }
  
  body {
    padding: 0;
    margin: 0;
    font: 12px Tahoma, sans-serif;
    background: #fff;
    color: #000; }
  
  div, menu, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea, button {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none; }
  
  button {
    cursor: pointer;
    padding: 0; }
  
  textarea {
    vertical-align: top; }
  
  input[type=submit] {
    cursor: pointer; }
  
  img, fieldset {
    border: 0; }
  
  img {
    vertical-align: top; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  a:hover {
    text-decoration: none; }
  
  button:focus {
    outline: none; }

/* --------------------------------------------------- */
h1 {
    padding-bottom: 20px;
}
h1,.form-section {
    margin:0 auto;
    text-align: center;
}  
.form-section .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
ul li {
    padding-bottom:15px;
}
.input {
   width: 300px;
}
